requests
bs4
colorama
beautifulsoup4
rich
fake_useragent
psutil
datetime
pycryptodome
inquirer
pypasser
sh
googletrans==4.0.0-rc1
cython
pytesseract
requests-toolbelt
pillow
certifi
dns-client
cloudscraper
urllib
